.grid {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
    grid-gap: 2rem;

}

.grid-pic {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;

}

.grid-item {
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); */
    /* Add a gray shadow */
    transition: transform 0.3s, box-shadow 0.3s;
    /* Add transition for transform and box-shadow */
}

.file-input {
    display: inline-block;
    width: 20px;
}

.preview-container {
    display: inline-block;
    width: 20px;
}

.preview_pic {
    width: 0.02px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    /* Dim black background */
}

.modal-content {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    /* max-height: 70%; */
    background-color: black;
    /* Set the background color to black */
}

#modal-image {
    max-width: 70%;
    /* max-height: 70%; */
    display: block;
    margin: auto;
    /* Center the image horizontally */
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}       

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.iframe-container {
    display: none;
}

.check_icon {
    margin-left: 10px;
}

#drop-shadow {
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0, 0.2, 0.2, 0.2);
    /* Adjust the shadow properties as needed */
}