#navcolor{
    backdrop-filter: blur(10px);
}
.background{
    position: absolute;
    width: 814px;
    height: 661px;
    left: -318px;
    top: -258px;

    background: linear-gradient(153.91deg, #453CC9 57.82%, rgba(34, 175, 241, 0) 122.45%);
    border-radius: 50%;
}
.edit{
    position: absolute;
    width: 100%;
}
.input {
    border: 1px solid #000000;
    padding: 1rem;
    border-radius: 48px;
    width: 339px;
    height: 45px;
    background: white;
    transition: 0.3s;
}
.input:hover,.input:focus,.input.focus {
    border: 1px solid #1C86F0;
    padding: 1rem;
    border-radius: 48px;
    width: 339px;
    height: 45px;
    background: white;
    transition: 0.3s;
}
.address {
    border: 1px solid #000000;
    padding: 1rem;
    border-radius: 48px;
    background: white;
    transition: 0.3s;
}
.address:hover,.input:focus,.input.focus {
    border: 1px solid #1C86F0;
    padding: 1rem;
    border-radius: 48px;
    background: white;
    transition: 0.3s;
}
.btn_custom{
    background-color: #74CC14;
    border-color: #74B62C;
    background: #74CC14;
    color: black;
    width: 100px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.btn_custom:hover,.btn_custom:focus,.btn_custom.focus{
    background-color: #74B62C;
    border-color: #74B62C;
    background: #74B62C;
    color: black;
    width: 100px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}