.card_header{
    background: linear-gradient(152.2deg, #102754 41.61%, #22AFF1 90.09%);
    border-radius: 48px 48px 190px 48px;
}
.btn_custom{
    background-color: white;
    background: white;
}
.btn_custom:hover,.btn_custom:focus,.btn_custom.focus{
    background-color: #E7F0FE;
    background: #E7F0FE;
}
.detail{
    position: relative;
}
.card_3{
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 1, 65, 0.18);
    border-radius: 48px;
    width: 250px;
    height: 300px;
    position: absolute;
    left: 600px;
}
.card_2{
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 1, 65, 0.18);
    border-radius: 48px;
    height: 300px;
}
.input-group{
    position: relative;
    display: flex;
    flex-direction: column;
}
.input-field{
    height: 40px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #0066CC;
    margin: 15px 0;
    padding: 0 5px;
    outline: none;
}
.input-field:focus,.input-field:valid{
    border-bottom: 2px solid #0066CC;
}
.input-group label{
    position: absolute;
    top: 23px;
    left: 3px;
    transition: .3s;
}
.input-field:focus ~ label,.input-field:valid ~ label{
    top: 5px;
    font-size: 12px;
    color: #0066CC;
}